<section class="hero">
  <div class="hero-image" style="background-image: url('{{ site.baseurl }}/{{ site.data.sitetext[site.locale].header.image }}');">
    <div class="hero-text">
      <h1>{{ site.data.sitetext[site.locale].header.title }}</h1>
      <p>{{ site.data.sitetext[site.locale].header.text }}</p>
      <a href="{{ site.data.sitetext[site.locale].header.buttonlink }}" class="btn-hero">
        {{ site.data.sitetext[site.locale].header.button }}
      </a>
    </div>
  </div>
</section>
