<div class="row">
  {% for project in site.portfolio %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">

        {% if project.image %}
          <img
            src="{{ project.image | relative_url }}"
            class="card-img-top"
            alt="{{ project.title }}"
          >
        {% endif %}

        <div class="card-body text-center">
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text">
            {{ project.description | default: project.excerpt }}
          </p>
        </div>

      </div>
    </div>
  {% endfor %}
</div>
