<section id="{{ site.data.sitetext[site.locale].services.section }}" class="page-section">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">
        {{ site.data.sitetext[site.locale].services.title }}
      </h2>
      <p class="section-subheading text-muted">
        {{ site.data.sitetext[site.locale].services.text }}
      </p>
    </div>

    <div class="row text-center">
      {% for service in site.data.sitetext[site.locale].services.list %}
      <div class="col-md-4">
        <img
          src="{{ service.image }}"
          alt="{{ service.alt }}"
          class="img-fluid mb-3 rounded"
          loading="lazy"
        >

        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="{{ service.icon }} fa-stack-1x fa-inverse"></i>
        </span>

        <h4 class="my-3">{{ service.title }}</h4>
        <p class="text-muted">{{ service.desc }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
