<section id="{{ site.data.sitetext[site.locale].team.section }}" class="page-section bg-light">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">
        {{ site.data.sitetext[site.locale].team.title }}
      </h2>
      <p class="section-subheading text-muted">
        {{ site.data.sitetext[site.locale].team.text }}
      </p>
    </div>

    <div class="row">
      {% for person in site.data.sitetext[site.locale].team.people %}
      <div class="col-lg-6 text-center">
        <img
          class="mx-auto rounded-circle img-fluid"
          src="{{ person.image }}"
          alt="{{ person.alt }}"
          loading="lazy"
        >
        <h4>{{ person.name }}</h4>
        <p class="text-muted">{{ person.role }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
